// @import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');
@namespace url('http://www.w3.org/1999/xhtml');
@namespace m url('http://www.w3.org/1998/Math/MathML');

m|math {
	font-family: Latin Modern Math;
}

p {
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Palatino', serif;
}

nav a {
	color: white;
}

main h1 {
	text-align: center;
}

html {
	font-family: "Helvetica", sans-serif;
	--fst-col: #059;
	--snd-col: #044;
	--thd-col: #066;
	--fst-col-bg: #011;
	--snd-col-bg: #022;
}

main h2,h3,h4,h5,h6 {
	font-weight: normal;
}

a {
	text-decoration: none;
	color: var(--fst-col);
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1+h2, h1+h3,h2+h3, h1+h4,h2+h4,h3+h4{
	margin-top: 0;
}

*+h1, *+h2, *+h3, *+h4 {
	margin-top: 50px;
}

nav ul {
	font-size: 17pt;
	padding-top: 1em;
	padding-bottom: 1em;
}

header {
	background: var(--fst-col-bg);
}

body {
	margin: 0px;
	width: 100vw;
	overflow-x: hidden;
}

span.date {
	color: white;
	background: linear-gradient(135deg, var(--snd-col), var(--thd-col));
	font-family: Arial;
	margin-right: 1em;
	padding-right: 3px;
	padding-left: 3px;
	border-radius: 3px;
}

main ul li {
	margin-top: 1em;
	margin-bottom: 1em;
}

main p {
	max-width: 90vw;
	overflow-x: auto;
	overflow-y: hidden;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1rem;
}

nav ul li {
	margin-right: 0.5em;
	margin-left: 0.5em;

	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

nav ul + ul {
	background: var(--snd-col-bg);
}

main {
	padding-left: var(--pad);
	padding-right: var(--pad);
	padding-top: 3vh;
	padding-bottom: 5vh;
}

@media (min-width: 901px) {
	html {
		--pad: calc(10px + (100vw - 900px)*0.45);
	}

	img {
		width: 11em;
		float: left;
		margin-right: 20px;
		border-radius: 3px;
		margin-bottom: 0.5em;
	}
}

@media (max-width: 900px) {
	html {
		--pad: 10px;
	}

	img {
		width: 100vw;
		margin-left: -10px;
		margin-right: -10px;
	}
}
