// @import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');
@namespace url('http://www.w3.org/1999/xhtml');
@namespace m url('http://www.w3.org/1998/Math/MathML');

m|math {
    font-family: Latin Modern Math;
}

p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Palatino', serif;
}

nav a {
  color: white;
}

main h1 {
  text-align: center;
}

html {
  font-family: "Helvetica", sans-serif;
  --fst-col: #059;
  --snd-col: #059;
  --thd-col: #075;
  --fst-col-bg: #022;
  --snd-col-bg: #033;

  --grey-fg: #d0d0d0;
  --grey-bg: #f6f6f6;
  --grey-dark: #e6e6e6;
  --grey-darker: #555555;
}

main h2,h3,h4,h5,h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--fst-col);
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1+h2, h1+h3,h2+h3, h1+h4,h2+h4,h3+h4{
  margin-top: 0;
}

*+h1, *+h2, *+h3, *+h4 {
  margin-top: 50px;
}

nav ul {
  font-size: 17pt;
  padding-top: 1em;
  padding-bottom: 1em;
}

header nav {
  width: 100%;
}

header h1 {
  color: white;
}

header {
  background: var(--fst-col-bg);
}

body {
  display: flex;
  margin: 0px;
  flex-wrap: wrap;
  max-width: 100%;
  overflow-x: hidden;
}

span.date {
  color: white;
  background: linear-gradient(135deg, var(--snd-col), var(--thd-col));
  font-family: Arial;
  margin-right: 1em;
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 3px;
}

main ul li {
  margin: 1em;
}

main p {
  max-width: 90vw;
  overflow-x: auto;
  overflow-y: hidden;
}

/*
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  padding-top: 1em;
}
*/

@media (min-width: 901px) {

  img {
    width: 11em;
    float: left;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 0.5em;
  }

  header {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: calc(20vw - 1px);
    text-align: right;
    // border-right: 1px solid var(--grey-fg);
  }

  html, body {
    height: 100%;
  }

  main {
    width: calc(100% - 55vw);
    padding-left: 5vw;
    padding-right: 20vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  body {
    align-content: stretch;
  }

  nav ul li {
    margin-top: 0.3em;
  }

  /*
  nav ul + ul a {
    color: var(--grey-darker);
    font-size: 14pt;
  }
  */
}

@media (max-width: 900px) {
  header {
    width: 100%;
    text-align: center;
    padding-bottom: 0;
  }

  img {
    width: 100vw;
    border-radius: 0px;
    margin-left: -5vw;
    margin-right: -5vw;
  }

  header h1 {
    width: 100%;
  }

  html, body {
    height: 100%;
  }

  body {
    align-content: flex-start;
  }

  nav {
    text-align: center;
    align-content: center;
  }

  nav ul + ul {
    background: var(--snd-col-bg);
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
    // border-bottom: 1px solid var(--grey-fg);
  }

  nav ul li {
    margin-right: 0.5em;
    margin-left: 0.5em;

    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  main {
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 0vh;
    padding-bottom: 5vh;
  }
}
