@namespace url('http://www.w3.org/1999/xhtml');
@namespace m url('http://www.w3.org/1998/Math/MathML');

/* Layout */
body {
	margin: 0;
	width: 100vw;
	overflow-x: hidden;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	/* margin-top: 10px; */
	margin-bottom: 10px;
	padding: 0.5em;
	border-radius: 10px;
	/* box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75); */
}

nav ul li {
	margin-right: 0.5em;
	margin-left: 0.5em;

	margin-top: 0.2em;
	margin-bottom: 0.2em;
	padding: 0;
}

nav {
	padding-left: var(--pad);
	padding-right: var(--pad);
	margin-top: -10px;
	/*padding-left: var(--pad);
	padding-right: var(--pad);*/
}

main {
	margin-left: var(--pad);
	margin-right: var(--pad);
	padding-left: 4vw;
	padding-right: 4vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	/*padding-left: var(--pad);
	padding-right: var(--pad);*/
	margin-top: 0;
	margin-bottom: 10px;
	border-radius: 10px;

	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
}

main p {
	overflow-x: auto;
	overflow-y: hidden;
}

@media (min-width: 901px) {
	html {
		--pad: calc(10px + (100vw - 900px)*0.4);
	}
}

@media (min-width: 501px) {
	img {
		width: 11em;
		float: left;
		margin-right: 20px;
		border-radius: 3px;
		margin-bottom: 0.5em;
	}
}

@media (max-width: 900px) {
	html {
		--pad: 10px;
	}
}

@media (max-width: 500px) {
	img {
		width: calc(8vw + 100%);
		margin-left: -4vw;
		margin-right: -4vw;
	}
}

/* Spacing */
ul.clear {
	list-style: none;	
	padding: 0;
}

nav ul {
	list-style: none;
}

main h1 {
	text-align: center;
}

ul {
	list-style-type: "» ";
	list-style-position: outside;
}

ul li {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

span.date {
	margin-right: 0.5em;
	padding-right: 3px;
	padding-left: 3px;
	border-radius: 3px;
}

li p {
	margin: 0;
}

h1+h2, h1+h3,h2+h3, h1+h4,h2+h4,h3+h4{
	margin-top: 0;
}

*+h1, *+h2, *+h3, *+h4 {
	margin-top: 50px;
}

/* Colors */
html {
	--bg-main: #fff;

	--bg-date: #06a;

	--bg-nav: #06a;
	--fg-nav: #fff;

	--fg-main: #000;
	--fg-link: #06a;
	--fg-date: #fff;

	--bg-body: #f3f3f3;
}

body {
	background: var(--bg-body);
	color: var(--fg-main);
}


main {
	background: var(--bg-main);
}

nav ul {
	background: var(--bg-nav);
}

/*
nav ul + ul {
	background: #04;
}
*/

nav a {
	color: var(--fg-nav);
}

a {
	color: var(--fg-link);
}

span.date {
	color: var(--fg-date);
	background: var(--bg-date);
}

/* Fonts */
p {
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

html {
	font-family: "Arial", "Helvetica", sans-serif;
}

nav {
	font-size: 17pt;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

m|math {
	font-family: Latin Modern Math;
}

body {
	margin: 0px;
	width: 100vw;
	overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
	html {
		--bg-body: #222;
		--fg-main: #fff;
		/* --fg-link: #4c9cff; */
		--fg-link: #4bf;

		--bg-main: #333;
		--fg-main: #fff;
		--bg-nav: #06a;
		--fg-nav: #fff;

		--fst-col: #000;
		--bg-date: #06a;
	}

	main {
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
	}
	nav ul {
		/* box-shadow: 0px 0px 10px 0px rgba(0,0,0,1); */
	}
}

main li > a {
	color: var(--fg-main);
}

main h2,h3,h4,h5,h6 {
	font-weight: normal;
}
